@using RazorLight
@inherits TemplatePage<RazorLightDemo.Model.Email>


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello @Model.Name</title>
</head>
<body style="font-family: Lato, sans-serif; color: #000000;">
    <p>This is file template</p>
    <p>Hello, @Model.Name</p>
    <div>Below are your registration details. Please verify.</div>
    <table>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Identity No</td>
            <td>@Model.IdentityNo</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.EmailAddress</td>
        </tr>
        <tr>
            <td>Phone No</td>
            <td>@Model.PhoneNo</td>
        </tr>
    </table>
</body>
</html>